constraintSatisfactionWithAny.ts(14,1): error TS2086: Type 'any' does not satisfy the constraint 'String' for type parameter 'T extends String'.
constraintSatisfactionWithAny.ts(15,1): error TS2086: Type 'any' does not satisfy the constraint '{ x: number; }' for type parameter 'T extends { x: number; }'.
constraintSatisfactionWithAny.ts(17,1): error TS2086: Type 'any' does not satisfy the constraint '<T>(x: T) => void' for type parameter 'T extends <T>(x: T) => void'.
constraintSatisfactionWithAny.ts(28,14): error TS2086: Type 'any' does not satisfy the constraint 'String' for type parameter 'T extends String'.
constraintSatisfactionWithAny.ts(35,14): error TS2086: Type 'any' does not satisfy the constraint '{ x: number; }' for type parameter 'T extends { x: number; }'.
constraintSatisfactionWithAny.ts(49,14): error TS2086: Type 'any' does not satisfy the constraint '<T>(x: T) => T' for type parameter 'T extends <T>(x: T) => T'.
