constraintSatisfactionWithAny.ts(5,15): error TS2229: Constraint of a type parameter cannot reference any type parameter from the same type parameter list.
constraintSatisfactionWithAny.ts(19,33): error TS2229: Constraint of a type parameter cannot reference any type parameter from the same type parameter list.
constraintSatisfactionWithAny.ts(37,10): error TS2229: Constraint of a type parameter cannot reference any type parameter from the same type parameter list.
